.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movieContent {
    width: 25%;
    margin: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: space-between;
    a{
        color: $darkBlue;
        font-weight: 500;
        width: 100%;
        box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 100%;
            height:70%;
        }
        div{
            height: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
       
       h3{
           font-size: 2rem;
       }
        &:hover, &:focus{
            color: $lightBlue;
            box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.6);
        }
    }
    @include responsiveMedia(tablet) {
        width: 40%;
    }

    @include responsiveMedia(smallTablet){
        width: 60%;
    }
    
}

.genreHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0 30px;
    h2{
        font-size: 4rem;
        font-weight: bold;
        text-transform: capitalize;
        color: $lightBlue;
    }
    div{
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-top: 25px;
    }
    button {
        color: $darkBlue;
        padding: 5px 30px;
        border: 2px solid $darkBlue;
        background: none;
        &:hover, &:focus {
            color: $lightBlue;
            border: 2px solid $lightBlue;
        }
    }
    @include responsiveMedia(smallTablet){
        div{
            flex-direction: column;
        }
        button {
            margin-top: 20px;
        }
    }
}

.table{
    display: flex;
    justify-content: center;
    thead {
        font-weight: bold;
    }
    th {
        padding: 20px;
    }
}
.pagination {
    margin: 20px;
    font-size: 2rem;
    text-align: center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding-top: 10px;
            width:50px;
            height: 50px;
            border: 2px solid $darkBlue;
            color: $darkBlue;
            &:hover, &:focus {
                border: 2px solid $lightBlue;
                color: $lightBlue
            }
        }
    }

}